/* body {
    background: rgba(0, 0, 0, 0.5);
} */

#title {
    color: rgb(25, 0, 255)
}

.subtitle {
    color:rgb(44, 118, 255)
}

#linear-grad {
    height: 400px;
    width: 70%;
    background: linear-gradient(-90deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    background-size: cover;
}

#radial-grad {
    height: 400px;
    width: 70%;
    background: radial-gradient(circle, red 20%, blue 40%, green 55%);
}